.topnav{
    background-color: #AAE7C0;
    overflow: hidden;
    padding: 14px 16px;
}
.menu{
    letter-spacing: 5px;
    text-align: center;
    word-spacing: 50px;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Aldrich', sans-serif;
    font-family: 'Candal', sans-serif;
    font-family: 'Lobster', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    color: black;
    padding-left: 25%;
    padding-bottom: 50%;
}

/*Grid layout */
.anchor { grid-area: anchor; }
.intro { grid-area: intro; }
.BMimage { grid-area: BMimage; }

.grid-container {
  display: grid;
  grid-template-areas:
    'anchor intro intro intro intro BMimage';

  gap: 10px;
  background-color: #CFB391;
  padding: 10px;
}

.grid-container > div {
  background-color: #CFB391;
  padding: 20px 0;
}

/* Anchor menu */
.anchor{
    background-color: white; !important
    color: #CFB391;
    padding-right: 150px;
}

/* Intro */
.jumbotron{
    color: black;
    background-color: #CFB391;
    margin-right: 250px;
    display: grid;
}
.jumbotron h1{
    text-align: center;
}
.sm{
    text-align: center;
}

.BMimage{
    height: 600px; !important
    width: auto;
}

/* Research */
.header {
    padding: 35px;
    text-align: center;
    background: #7A583B;
    color: white;
    font-size: 30px;
  }
.userInterview{
    display: block;
    background-color: #CFB391;
}
.carousel slide{
    display: block;
    height: 80px;
}
.carousel-caption{
    color: black;
    background-color: rgba(128, 128, 128, 0.801);
}
.carousel-caption h5{
    font-weight:bold;
    font-size: 28px;
}
.carousel-caption p{
    font-size: 18px;
}


.userText{
    display: block;
}
.userText h2{
    text-align: center;
}

.swot{
    background-color: #CFB391;
    display: flex;
}
.swot img{
    height: 600px;

}
.swotText{
    float:right;
    margin-left: 100px;
    margin-right: 90px;
    margin-top: 40px;
}


/* Iterations & Prototype */
.itANDpro{
    background-color: #CFB391;
}


/* Footer */
.footer{
    background-color: white;
    color: black;
}
